.App {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.text-fade {
  color: rgba(0, 0, 0, 0.5);
}

.l-form {
  padding: 0 16px;
  max-width: 550px;
  margin: 8px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.c-radio-box {
  position: relative;
  display: flex;
  flex: 1;
  margin: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.c-radio-box .c-radio-box__label {
  padding: 1rem 4rem;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 0.5rem;
  font-size: 14px;
  line-height: normal;
  transition: all 240ms ease-in-out;
}

.c-radio-box .c-radio-box__label:before {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  content: "";
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.c-radio-box .c-radio-box__label:after {
  width: 2rem;
  height: 2rem;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.c-radio-box .c-radio-box__input:hover~label {
  box-shadow: 0 4px 16px 0 rgba(85, 98, 235, 0.24);
}

.c-radio-box .c-radio-box__input:checked~label {
  color: #fff;
  box-shadow: 0 4px 16px 0 rgba(85, 98, 235, 0.5);
}

.c-radio-box .c-radio-box__input:checked~label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.c-radio-box .c-radio-box__input:checked~label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}

.c-radio-box .c-radio-box__input {
  width: 2rem;
  height: 2rem;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.c-btn {
  padding: 8px 16px;
  background-color: pink;
  font-weight: 600;
  color: rgb(162, 14, 88);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


.animate__delay-250ms {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.animate__delay-350ms {
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms;
}

.animate__delay-450ms {
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
}

.animate__delay-550ms {
  -webkit-animation-delay: 550ms;
  animation-delay: 550ms;
}
